.card {
  $cardPrefix: &;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 19px;

  &__mark {
    width: 79px;
    height: 22px;
    background-color: #f2f2f2;
    color: #848484;
    text-align: center;
  }

  &__title-link {
    color: #3b3b3b;
    text-decoration: underline;
  }

  &__product-info {
    display: flex;
    justify-content: space-between;
  }

  &__rating {
    display: flex;
  }

  &__star-container {
    width: 15px;
    height: 14px;
    background: url("../images/sprites.png") -217px -224px;

    @for $numOfStars from 0 through 5 {
      #{$cardPrefix}__rating--#{$numOfStars} &:nth-child(-n+#{$numOfStars}) {
        background-position: -182px -224px;
      }
    }
  }

  &__testimonials {
    color: #9b9b9b;
    text-decoration: underline;
  }

  &__in-stock {
    color: #757575;
  }

  &__image-container {
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-template-rows: 218px;
    justify-items: center;
  }

  &__info-marks {
    display: grid;
    grid-template-columns: 65px;
    grid-template-rows: repeat(3, 1fr);
  }

  &__mark-container {
    display: grid;
    justify-items: center;
  }

  &__mark-image {
    &--sun {
      width: 38px;
      height: 38px;
    }

    &--car {
      width: 53px;
      height: 26px;
    }

    &--badge {
      width: 48px;
      height: 25px;
    }
  }

  &__labels-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-template-rows: 26px;
    justify-content: center;
    padding-left: 40px;
  }

  &__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 26px;
    font-size: 10px;
    font-weight: bold;
    color: $fontWhite;
    text-transform: uppercase;

    &--new {
      background-image: url("../images/bg-green.png");
      background-repeat: no-repeat;
      background-position: 1px 1px;
      box-shadow: 0 4px 10px 1px rgba(46,182,142,0.4);
    }

    &--hit {
      background-image: url("../images/bg-violet.png");
      background-repeat: no-repeat;
      background-position: cover;
      box-shadow: 0 4px 10px 1px rgba(162,95,209,0.4);
    }

    &--sale {
      background-image: url("../images/bg-red.png");
      background-repeat: no-repeat;
      box-shadow: 0 4px 10px 1px rgba(227,60,83,0.4);
    }
  }

  &__card-prices {
    display: flex;
    justify-content: space-between;
  }

  &__current-price {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
  }

  &__old-price {
    position: relative;
    font-size: 16px;
    font-style: italic;
    color: #989898;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      left: 0;
      background-color: #e00000;
    }
  }
}
