.labels-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 0;

  &__category-label {
    display: block;
    background-color: #606a76;
    cursor: pointer;
  }

  .category-label {

    &--cars {
      width: 40px;
      height: 17px;
      background: url("../images/sprites.png") -211px -178px;
    }

    &--trucks {
      width: 46px;
      height: 32px;
      background: url("../images/sprites.png") -141px -124px;
    }

    &--wheels {
      width: 25px;
      height: 25px;
      background: url("../images/sprites.png") -283px -197px;
    }

    &--oil {
      width: 22px;
      height: 29px;
      background: url("../images/sprites.png") -283px -103px;
    }

    &--batteries {
      width: 26px;
      height: 24px;
      background: url("../images/sprites.png") -56px -279px;
    }
  }

  &__category-title {
    display: none;
  }

  &__radio {
    display: none;

    &:checked + .category-label--cars {
      background: url("../images/sprites.png") -151px -178px;
    }

    &:checked + .category-label--trucks {
      background: url("../images/sprites.png") -75px -124px;
    }

    &:checked + .category-label--wheels {
      background: url("../images/sprites.png") -283px -152px;
    }

    &:checked + .category-label--oil {
      background: url("../images/sprites.png") -283px -54px;
    }

    &:checked + .category-label--batteries {
      background: url("../images/sprites.png") -10px -279px;
    }
  }
}
